
@{
    ViewBag.Title = "Evaluación";
}

<h3 >Detalle</h3>
<table style="width:100%" class="table table-responsive">
    <tr>

        <th>Puntos a Evaluar</th>
        <th>Puntos</th>
        <th>Autoevaluación</th>
        <th>Calificación Profesor</th>
    </tr>
    <tr>

        <td>1-<b>Registros Ejemplo</b></td>
        <td>10 pts</td>
        <td>10 pts</td>
        <td>0 pts</td>

    </tr>
    <tr>

        <td>
            2-
            Diseño de la Arquitectura del Software, estándares log4net, mensaje toastr, control de errores.

        
        </td>
        <td>10 pts</td>
        <td>10 pts</td>
        <td>0 pts</td>
    </tr>
    <tr>
        <td>3-<b> Seguridad</b></td>
        <td>5 pts</td>
        <td>5 pts</td>
        <td>0 pts</td>
    </tr>
    <tr>

        <td>
            4-
            <b> Mantenimientos </b>
            <ul style="list-style:none">
                <li>
                    a-	Vendedor    5 pts
                </li>
                <li>
                    b-	Activos    10 pts
                </li>
                <li>
                    c-	Tipo Activo 5 pts
                </li>
                <li>
                    d-	Marca       5 pts
                </li>
                <li>
                    e-	Asegurador  5 pts
                </li>
            </ul>
        </td>
        <td>30 pts</td>
        <td>30 pts</td>
        <td>0 pts</td>
    </tr>
    <tr>

        <td>
            5-
            <b>Procesos</b>
            <ul style="list-style:none">
                <li>
                    Calculo Depreciación
                    (actualiza costo del activo y crea histórico de depreciación por activo)
                </li>
            </ul>
        </td>
        <td>20 pts</td>
        <td>20 pts</td>
        <td>0 pts</td>
    </tr>
    <tr>
        <td>
            6-
            <b> Reportes </b>
            <ul style="list-style:none">
                <li>
                    a-	Listado activos y
                    crea pdf            (5 pts)
                </li>
                <li>b-	Consulta de activo  (5 pts)</li>
                <li>
                    c-	Vencimiento
                    Garantías           (2 pts)
                </li>
                <li>
                    d-	Gráfico activos
                    por tipo           ( 5 pts)
                </li>
                <li>e-	Listado cierres    ( 3 pts)</li>
                <li> f-	Reporte Analítico, creación y consumo de API   ( 5 pts)</li>
            </ul>

        </td>
        <td>20 pts</td>
        <td>12 pts</td>
        <td>0 pts</td>

    </tr>
    <tr>
        <td><b>Defensa del Proyecto </b> </td>
        <td>5 pts</td>
        <td>5 pts</td>
        <td>0 pts</td>
       
    </tr>
    <tr>
        <td><b>Total </b> </td>
        <td>100 pts</td>
        <td>92 pts</td>
        <td>0 pts</td>
    </tr>
    <tr>
        <td><b>Porcentaje </b> </td>
        <td>20% pts</td>
        <td>0 pts</td>
        <td>0 pts</td>
    </tr>

</table>



